* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;

    font-family: "Fira Code", sans-serif;
    line-height: 2em;

    h1 {
        font-size: 30pt;
        margin-bottom: 0.6em;
    }
}

header {
    width: 20rem;
    padding: 2rem;
}

nav {
    display: flex;
    flex-direction: column;
    flex: none;
}

main {
    background: #efefef;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex: 1;
}

canvas {
    flex: 1;
}